@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Roboto", sans-serif;
    margin: 30px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(120, 120, 120);
}

.atributo {
    margin-bottom: 10px;
}